@using Microsoft.AspNetCore.Http
@using WMS.Utility
@using WMS.Models.ViewModels

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WMS Deal</title>

    <link href="~/lib/bootstrap/dist/css/dark.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css">

    @await RenderSectionAsync("Styles", required: false)
       
</head>
<body>
    @*<div class="splash active">
		<div class="splash-icon"></div>
	</div>*@

    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
            <a class="sidebar-brand" asp-controller="Dashboards" asp-action="Index">
                <img src="~/img/avatars/wmsmini.jpg" class="img-fluid rounded-3  mb-2" alt="WMS" />
                &nbsp;&nbsp;
                WMS DEAL
            </a>
            <div class="sidebar-content">
                <div class="sidebar-user">
                    <img src="~/img/avatars/@User.FindFirst(x => x.Type == "ProfileImageUrl")?.Value" class="img-fluid rounded-circle mb-2" alt="Image Profile" />

                    <div class="fw-bold">

                        @User.FindFirst(x => x.Type == "FirstName")?.Value @User.FindFirst(x => x.Type == "LastName")?.Value

                    </div>
                    <small> @User.FindFirst(x => x.Type == "ProfileName")?.Value </small>
                </div>

                <ul class="sidebar-nav">
                    @await Component.InvokeAsync("MenuItem");
                </ul>

            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-theme">
                <a class="sidebar-toggle d-flex me-2">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-text">
                    @ViewData["MenuKey"] / @ViewData["Title"]
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item dropdown ms-lg-2">

                            <a class="nav-link dropdown-toggle position-relative" href="#" id="userDropdown" data-bs-toggle="dropdown">
                                <i class="align-middle fas fa-user-cog"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <a class="dropdown-item" asp-controller="Account" asp-action="Index"><i class="align-middle me-1 fas fa-fw fa-user"></i> View Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Logout"><i class="align-middle me-1 fas fa-fw fa-arrow-alt-circle-right"></i> Sign out</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </nav>
            <main class="container-fluid">

                @RenderBody()

            </main>
           
            <partial name="_Footer" />
        </div>

    </div>

    <script src="~/lib/bootstrap/dist/js/app.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>

    <partial name="_Notification" />
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
