@model StorageViewModel

<div class="card">
    <div class="card-header border-bottom">
        <div class="d-flex align-items-center py-1">
            <div class="flex-grow-1 ps-3">
                <h5 class="card-title"><strong>Storage Level</strong></h5>
            </div>
            <div>
                <a class="btn btn-outline-primary btn-pill btn-insertlevel" data-bs-toggle="modal" data-bs-target="#modalupsertlevel">Add Level</a>
            </div>
        </div>
    </div><br />
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th>
                            Action
                        </th>
                        <th>
                            Code
                        </th>
                        <th>
                            Total Bin
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.invStorageLevels)
                    {
                        <tr>
                            <td class="text-center">
                                <button type="button" class="btn btn-outline-tertiary btn-sm" data-bs-toggle="dropdown"><i class="fas fa-fw fa-ellipsis-h"></i></button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="StorageLevel" asp-action="Index" asp-route-RowCode="@Model.invStorageRow.RowCode" asp-route-LevelCode="@item.LevelCode">Manage</a></li>
                                    <li><button class="dropdown-item btn-insertbin" data-id="@item.LevelCode" data-bs-toggle="modal" data-bs-target="#modalupsertbin">Add Bin</button></li>
                                    <li><button class="dropdown-item btn-updatelevel" data-id="@item.LevelCode" data-bs-toggle="modal" data-bs-target="#modalupsertlevel">Edit</button></li>
                                </ul>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LevelName)
                            </td>
                            <td class="text-center">
                                @item.InvStorageBins.Count
                            </td>
                            <td class="text-center">
                                @if (item.Flag == @FlagEnum.Active)
                                {
                                    <span class="badge bg-success"> @Html.DisplayFor(modelItem => item.Flag)</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger"> @Html.DisplayFor(modelItem => item.Flag)</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>