@model IEnumerable<IncRequestPurchase>

@{
    ViewData["Title"] = "Request Purchases Order";
    ViewData["MenuKey"] = "Purchase Order";
}

<div class="card" style="min-height:700px">
    <div class="card-header border-bottom">
        <div class="d-flex align-items-center">
            <div class="flex-grow-1 ps-3">
                <h5 class="card-title"><strong>Request Purchases Order List</strong></h5>
            </div>
            <div>
                    <a class="btn btn-outline-primary btn-pill"asp-action="Create" >Add Request</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="text-center">
                    <th>
                        Request Number
                    </th>
                    <th>
                        Tenant
                    </th>
                    <th>
                        Warehouse
                    </th>
                    <th>
                        Division
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-id="@item.RequestId">
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.RequestNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MasDataTenant.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MasDataTenantWarehouse.MasHouseCode.HouseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.masDataTenantDivision.Name)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.IncRequestPurchaseProducts.Count)
                        </td>
                        <td>
                            <ul class="list-group">
                                <li class="d-flex justify-content-between align-items-center">
                                    Req
                                    <span class="badge bg-light text-dark rounded-pill">@item.IncRequestPurchaseProducts.Sum(m => m.Quantity)</span>
                                </li>
                                <li class="d-flex justify-content-between align-items-center">
                                    Pro
                                    <span class="badge bg-light text-dark rounded-pill">@item.IncRequestPurchaseProducts.Sum(m => m.ApprovedQuantity)</span>
                                </li>
                            </ul>
                        </td>
                        <td class="text-center">
                            @if(item.RequestStatus == "Request")
                            {
                                <span>@item.RequestStatus</span>
                            }
                            @if(item.RequestStatus == "Applied")
                            {
                                <span class="badge bg-secondary">@item.RequestStatus</span>
                            }
                            @if(item.RequestStatus == "Reviewed")
                            {
                                <span class="badge bg-info">@item.RequestStatus</span>
                            }
                            @if(item.RequestStatus == "Approved")
                            {
                                <span class="badge bg-primary">@item.RequestStatus</span>
                            }
                            @if(item.RequestStatus == "Issued")
                            {
                                <span class="badge bg-success">@item.RequestStatus</span>
                            }
                            @if(item.RequestStatus == "Rejected")
                            {
                                <span class="badge bg-danger">@item.RequestStatus</span>
                            }
                            @if(item.RequestStatus == "Cancelled")
                            {
                                <span class="badge bg-dark">@item.RequestStatus</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<form id="applyForm" asp-action="Apply">
    <input type="hidden" id="ApplyRequestId" name="Id" />
</form>
<form id="cancelForm" asp-action="Cancel">
    <input type="hidden" id="Cancel" name="Id" />
</form>
<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="Delete" name="Id" />
</form>
@section Scripts{
    <script>
        $( document ).ready(function() {
            $('.deleteBtn').click(function(e){
                swal({
                    title:"Are you sure?",
                    text:"Are you sure you want to delete this record?",
                    icon:"warning",
                    buttons:true,
                    dangerMode:true
                }).then((confirm) =>{
                    if(confirm){
                        var btn=$(this);
                        var id=btn.data("id");
                        $('#Delete').val(id);
                        $('#deleteForm').submit();
                    }
                });
            });

            $('.applyBtn').click(function(e){
                swal({
                    title:"Are you sure?",
                    text:"Are you sure you want to apply this record?",
                    icon:"warning",
                    buttons:true,
                    dangerMode:true
                }).then((confirm) =>{
                    if(confirm){
                        var btn=$(this);
                        var id=btn.data("id");
                        $('#ApplyRequestId').val(id);
                        $('#applyForm').submit();
                    }
                });
            });

            $('.cancelBtn').click(function(e){
                swal({
                    title:"Are you sure?",
                    text:"Are you sure you want to cancel this record?",
                    icon:"warning",
                    buttons:true,
                    dangerMode:true
                }).then((confirm) =>{
                    if(confirm){
                        var btn=$(this);
                        var id=btn.data("id");
                        $('#Cancel').val(id);
                        $('#cancelForm').submit();
                    }
                });
            });

            $('.table').DataTable({
            });
        });

        $('.table tbody').on('click', 'tr', function () {
            window.location = window.location.href + "/Detail?RequestId=" + $(this).data("id");
        });
    </script>
}